extends ../layouts/main.pug

block content

    <div id="mainContainer">
        <main>
            <h1 id="h1BankAccountForm">Bank Account Form</h1>
            <form method="post" action="/accounts/put" id="formNewAccount">
                <fieldset style="border: 0;">
                    <div class="form-row">
                        <div class="form-item">
                            <label for="txtAccountNo">Account No</label>
                        </div>
                        <div class="form-item">
                            <input value="" class="form-ctrl" type="text" name="accountNo" id="txtAccountNo" required autofocus pattern="01-\d{3}-\d{4}">
                        </div>
                        <div class="form-item small-instr-text">
                            <span>Enter your unique account number.</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-item">
                            <label for="txtCustomerName">Customer Name</label>
                        </div>
                        <div class="form-item">
                            <input value="" class="form-ctrl" type="text" name="custName" id="txtCustomerName" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-item">
                            <label for="ddlAccountType">Type of Account</label>
                        </div>
                        <div class="form-item">
                            <select class="form-ctrl-sel" name="type" id="ddlAccountType" required>
                                <option value="">[Select Type of Account]</option>
                                <option value="Checking">Checking</option>
                                <option value="Loan">Loan</option>
                                <option value="Savings">Savings</option>
                            </select>
                        </div>
                        <input type="hidden" value="#{account.id}"/>
                    </div>   
                    <div class="form-row">
                        <input class="btn-std-med" type="submit" value="Create New Account">
                    </div>                                     
                </fieldset>
            </form>
        </main>
    </div>